<!DOCTYPE html>
<html>
<head>
    <title>Nupal</title>
    <link rel="stylesheet" href="" />
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
<!-- Fueled by NPM -->
<!-- Powered by Drupal -->
