<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ info.defaults._title }}{% endblock %}</title>
    <link rel="stylesheet" href="/public/build/bundle.min.css" />
    <script type="text/javascript" src="/public/build/main.js"></script>
</head>
<body>
    <main class="container-fluid h100">
        <div class="row h100">

            <section id="sidebar" class="col-lg-1 h100">
                <img src="/public/images/nupal.png" />
                {% include './menu.html.twig' %}
            </section>

            <aside class="col-lg-11 px-5 py-5 h100">
                <h4 class="pb-5">{% block title %}{{ info.defaults._title }}{% endblock %}</h4>
                {% block body %}{% endblock %}
            </aside>

        </div>
    </main>
</body>
</html>

<!-- Fueled by NPM -->
<!-- Powered by Nupal -->
