{% extends env.VIEWS_PATH_RELATIVE ~ '/' ~ req.theme ~ '/base.html.twig' %}
{% block title %}{{ req.routing.defaults._title }}{% endblock %}
{% block body %}

    <table class="table table-sm table-light">

    <a class="btn btn-primary" href="/content/types/add">Add Content Type</a>

    <hr />

    {% for contentType in contentTypes %}
        <tr>
            <td align="left">
                <a class="btn btn-success">{{ contentType }}</a>
            </td>
            <td align="right">
                <form action="/content/types/delete" method="POST">
                    <button type="submit" class="btn btn-sm btn-danger" name="{{ contentType }}" value="{{ contentType }}">delete</button>
                </form>
            </td>
        </tr
    {% endfor %}

    </table>

{% endblock %}
