{% extends env.VIEWS_PATH_RELATIVE ~ '/' ~ req.theme ~ '/base.html.twig' %}
{% block title %}{{ req.routing.defaults._title }}{% endblock %}
{% block body %}

    <form action="/content/add/{{ req.params.contentType }}" method="POST">

        <input name="title" type="text" />

    </form>

{% endblock %}
