{% extends env.VIEWS_PATH_RELATIVE ~ '/' ~ req.theme ~ '/base.html.twig' %}
{% block title %}{{ req.routing.defaults._title }}{% endblock %}
{% block body %}

    <form action="/content/types/add" method="POST">

        <div class="form-item">
            <label>Machine Name</label>
            <input type="text" name="machine_name" />
        </div>

        <hr />

        <button type="submit" class="btn btn-success">Submit</button>

    </form>

{% endblock %}
