{% extends env.VIEWS_PATH_RELATIVE ~ '/' ~ req.theme ~ '/base.html.twig' %}
{% block title %}{{ req.routing.defaults._title }}{% endblock %}
{% block body %}

    <a href="/nupal/modules" class="btn btn-primary">Modules</a>
    <a href="/nupal/themes" class="btn btn-primary">Themes</a>
    <a href="/content/types" class="btn btn-primary">Content Types</a>

{% endblock %}
