{% extends env.VIEWS_PATH_RELATIVE ~ '/' ~ req.theme ~ '/base.html.twig' %}
{% block title %}{{ req.routing.defaults._title }}{% endblock %}
{% block body %}

    <form action="/nupal/modules" method="POST">

        <table class="table table-sm table-light">
        <thead>
            <tr>
                <th><i class="fa fa-address-book" aria-hidden="true"></i>0</th>
                <th>Module</th>
            </tr>
        </thead>
        <tbody>
        {% for mod in allModules %}

            <tr>
                <td><input type="checkbox" name="{{ mod }}" {% if enabledModules.includes(mod) %} checked="checked" {% endif %} /></td>
                <td>{{ mod }}</td>
            </tr>

        {% endfor %}
        </tbody>
        </table>

        <button type="submit" class="btn-outline-light">Save</button>

    </form>

{% endblock %}
