{% extends env.VIEWS_PATH_RELATIVE ~ '/' ~ req.theme ~ '/base.html.twig' %}
{% block title %}
{{ info.parameters.title }}
{% endblock %}
{% block body %}
    <form>

        <table class="table table-sm table-light">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Module</th>
            </tr>
        </thead>
        <tbody>
        {% for mod in allModules %}

            <tr>
                <td><input type="checkbox" name="{{ mod }}" {% if enabledModules.includes(mod) %} checked="checked" {% endif %} /></td>
                <td>{{ mod }}</td>
            </tr>

        {% endfor %}
        </tbody>
        </table>

    </form>

{% endblock %}
