@import 'bootstrap';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/regular';

body {
  background: #ddd;
}

body, html, .h100 {
  height: 100%;
}

#sidebar {
  background: #eee;
}
